<html>
  <head>
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <h1 class="title">Tasks To Do</h1>
    
    <div class="input-area">
      <form class="formInput" method="POST" action="/todo">
          <input class="inputField" type="text" name="title" placeholder="Type a task" />
          
          <input class="buttonTask" type="submit" value="Send New Task" />
      </form>
    </div>
    
    <div class="tasks-area">
      <ul>
        {{#tasks}}
          <li>  
            {{#done}} <a class="green" href="/todo/{{id}}/update">{{title}}</a>  {{/done}} 
            {{^done}} <a class="red" href="/todo/{{id}}/update">{{title}}</a>  {{/done}} 
            <a class="removeButton" href="/todo/{{id}}/remove">x</a>
          </li>
          <hr/>
        {{/tasks}}
      
      </ul>
    </div>
  </body>
</html>